*{
	margin:0; padding:0; box-sizing: border-box; 
	list-style-type: none;
	font-family: 'Noto Sans KR',sans-serif;
}
body{
	height: 100%;
	overflow-y: hidden; overflow-x: hidden;

}

a{	text-decoration: none; color: black;	}
nav{
	height: 100%;
	width: 13%;
	float: left;
	background-color: black;
	padding-top: 12em;
	padding-bottom: 12em;
}
nav li{
	color: gray;
	font-size: 15pt;
	padding: 1.5em 0em 1.5em 1em;
	border-bottom: 1px solid gray;
}
nav li:hover{
	color: white;
	font-size: 18pt;
}

section{
	width: 87%;
	float: right;
}